#map {
  height: 100%;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.infoWindow {
  color: #333;
  padding: 10px;
}

.infoWindow__title {
  margin: 0 0 5px
}

.infoWindow__state-section {
  color: #666;
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.infoWindow__state {
  font-size: 1rem;
  color: #d64c4c;
}

.infoWindow__state--active {
  color: #00aa00;
}

.infoWindow__type {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 10px;
  font-weight: bold;
}

.infoWindow__address {
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0 0 20px;
}

.infoWindow__buttons {
  display: flex;
  flex-wrap: wrap;
}

.infoWindow__button {
  background-color: #f0f7ff;
  border: 1px solid #1a73e8;
  border-radius: 5px;
  color: #1a73e8;
  font-size: 0.875rem;
  padding: 7px 12px;
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
}

body {
  font-family: sans-serif;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.links {
  display: flex;
  flex-direction: column;
}

.col {
  display: flex;
  padding: 1em;
  margin: 0 2px 2px 0;
  justify-content: center;
}

.button {
  cursor: pointer;
  display: flex;
  height: 200px;
  width: 200px;
  position: relative;
}

.button__text{
  display: inline-block;
}

.button__text + .button__text { 
  margin-top: 5px;
}

.button:hover .bg-image--title {
  background-color: #9f47c2;
}

.button:hover .bg-image {
  opacity: 0.8;
}

.bg-image {
  border-radius: 20%;
  box-sizing: border-box;
  border: 2px solid #7e3e98;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}

.bg-image--title {
  position: absolute;
  bottom: 0px;
  border-radius: 0 0 40px 40px;
  left: 0;
  right: 0;
  background-color: #7e3e98;
  color: #fff;
  padding: 10px 0;
  padding: 12px 20px 12px 20px;
  text-align: center;
}

.bg-image--map {
  background-image: url("images/healthcare-map.png");
}

.bg-image--translation {
  background-image: url("images/translation-service.png");
}


.bg-image--list {
  background-image: url("images/list.png");
  background-size: contain;
}

.logo__image {
  margin: 0 auto;
  width: min(50vw, 200px);
}

/* Responsive: */
@media only screen and (min-width: 640px) {
  .wrapper {
    max-width: 70%;
  }
  .col {
    flex: 1;
  }
  .links {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    max-width: 50%;
  }
}


@media only screen and (min-width: 1200px) {
  .wrapper {
    max-width: 40%;
  }
}